@import '../../styles/_variables';

.pokedex {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__controls {
    display: flex;
    justify-content: space-between;
    width: #{$art-card--size * 2};
  }
}
