@import '../../styles/_mixins';
@import '../../styles/_variables';

$team-member--account-for-padding: $team-member--padding * 2;
$team-member--account-for-border: $team-member--border-width * 2;
$team-member--width-adjustment: $team-member--account-for-border +
  $team-member--account-for-padding;

%member-container {
  width: 100%;
  height: 1.75em;
}

.team-member {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100% / 6 - #{$team-member--width-adjustment});
  padding: $team-member--padding;
  border: $team-member--border-width solid transparent;
  cursor: pointer;
  // Hack to ensure nice screenshot in drag preview
  transform: translate3d(0, 0, 0);

  @include respondTo(xs) {
    width: calc(100% / 3 - #{$team-member--width-adjustment});
  }

  &--empty {
    cursor: default;
  }

  &--selected {
    border-color: $team-member--border-colour;
  }

  &--highlighted {
    border: {
      style: dashed;
      color: $team-member--border-colour-highlight;
    }
  }

  &--dragging {
    opacity: 0;
  }

  &--is-over {
    border: {
      style: dashed;
      color: $team-member--border-colour;
    }
  }

  &__pokedex-link.team-member__pokedex-link {
    min-width: auto;
    min-height: auto;
    padding: 0;
  }

  &__npn {
    display: flex;
    flex: 1;
    justify-content: center;

    &--with-remove {
      margin-left: #{$icon-button--size * 0.67};
    }
  }

  &__clear-container,
  &__back-container {
    display: flex;
    justify-content: flex-end;
    @extend %member-container;
  }

  &__name-bubble {
    padding: 5px 0;
    text-align: center;
  }

  &__types {
    display: flex;
    height: $type--height;
  }

  &__action-container {
    display: flex;
    justify-content: space-around;
    @extend %member-container;
    padding: 8px 0;
  }

  &__evolution-button {
    margin: auto;
    white-space: pre-line;
  }
}

.team-member__evolve.team-member__evolve {
  min-width: 25px;
  padding: 0;
  margin: 0 auto;
}

.team-member__art {
  cursor: pointer;
}
