@import '../../styles/_mixins';
@import '../../styles/_variables';

$team-member--account-for-padding: $team-member--padding * 2;
$team-member--account-for-border: $team-member--border-width * 2;
$team-member--width-adjustment: $team-member--account-for-border +
  $team-member--account-for-padding;

%member-container {
  width: 100%;
  height: 1.5em;
}

.team-member {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100% / 6 - #{$team-member--width-adjustment});
  padding: $team-member--padding;
  border: $team-member--border-width solid transparent;
  cursor: pointer;

  @include respond-to(xs) {
    width: calc(100% / 3 - #{$team-member--width-adjustment});
  }

  &--empty {
    cursor: default;
  }

  &--selected {
    border-color: $team-member--border-colour;
  }

  &--dragging {
    opacity: 0;
  }

  &--is-over {
    border: {
      style: dashed;
      color: $team-member--border-colour;
    }
  }

  &__clear-container {
    display: flex;
    justify-content: flex-end;
    @extend %member-container;
  }

  &__name-bubble {
    padding: 5px 0;
    text-align: center;
  }

  &__types {
    display: flex;
    height: $type--height;
  }

  &__order-container {
    display: flex;
    justify-content: space-around;
    @extend %member-container;
    padding: 5px 0;
  }
}

.team-member__art {
  cursor: pointer;
}
