@import '~styles/_variables';

.lusamine-button.lusamine-icon-button {
  display: flex;
  height: $icon-button--size;
  width: $icon-button--size;
  padding: 0.5em;
  border-radius: 50%;
  margin: 0;

  &::before {
    display: flex;
    margin: auto;
    width: 0;
    height: 0;
  }
}

.back-button::before {
  transform: translateY(-40%);
}
.clear-button.clear-button::before {
  font-size: 0.75em;
  transform: translateY(-15%) translateX(-5%);
}

.lusamine-icon-button.arrow-button {
  &:before {
    transform: translateY(-45%);
  }

  &--square {
    border-radius: initial;
    min-height: 36px;
    min-width: 48px;

    &::before {
      position: absolute;
      top: 0;
      bottom: 0;
      height: auto;
      margin: none;
    }
  }

  &--up::before {
    transform: translateY(25%);
  }

  &--down::before {
    transform: translateY(-25%);
  }
}
