@import '../../styles/_mixins';
@import '../../styles/_variables';

.team-planner {
  display: flex;
  flex-direction: row;
  margin: 10px 0;

  &__container {
    display: flex;
    flex-direction: column;

    &--width_20 {
      flex: 1 1 20%;
      max-width: 20%;
    }

    &--width_80 {
      flex: 1 1 80%;
      max-width: 80%;
      padding: 0 8px;

      @include respondToAll((xxs, xs, sm)) {
        max-width: 100%;
        padding: 0;
      }
    }

    &--hide-on_small {
      @include respondToAll((xxs, xs, sm)) {
        display: none;
      }
    }
  }

  &__button-actions {
    display: flex;
    justify-content: flex-end;

    @include respondTo(xxs) {
      flex-wrap: wrap;

      > * {
        margin: 5px 0;
      }
    }
  }

  &__team-creator {
    margin: 5px 0;
  }

  &__sprite-list--scrollbox {
    box-shadow: 0px 0px 5px 1px var(--team-planner--list-shadow-colour);
    padding: 5px;
    margin: 15px 0;
  }

  &__no-results {
    margin: 5px 0;
    padding: 18px 0;

    &--scrollbox {
      box-shadow: 0px 0px 5px 1px var(--team-planner--list-shadow-colour);
      padding: 18px 8px;
    }
  }
}

.scroll-to-filters.scroll-to-filters {
  @include respondToAll((sm, md, lg)) {
    display: none;
  }

  min-height: 25px;
  min-width: 2rem;
  padding: 5px;
  margin: 0 5px;

  @include respondTo(xxs) {
    margin: 5px;
  }
}
