@import '../../styles/_mixins';
@import '../../styles/_variables';

.team-planner {
  display: flex;
  flex-direction: row;
  margin: 10px 0;

  &__container {
    display: flex;
    flex-direction: column;
    max-width: 100%;

    &--width_20 {
      flex: 1 1 20%;
    }
    &--width_80 {
      flex: 1 1 80%;
    }

    &--hide-on_small {
      @include respond-to(sm) {
        display: none;
      }
      @include respond-to(xs) {
        display: none;
      }
    }
  }
  &__button-actions {
    display: flex;
    justify-content: flex-end;
  }
  &__sprite-list {
    justify-content: space-evenly;
  }
}
