@import '../../styles/_mixins';
@import '../../styles/_variables';

.team-planner {
  display: flex;
  flex-direction: row;
  margin: 10px 0;

  &__container {
    display: flex;
    flex-direction: column;

    &--width_20 {
      flex: 1 1 20%;
      max-width: 20%;
    }
    &--width_80 {
      flex: 1 1 80%;
      max-width: 80%;

      @include respondToAll((xs, sm)) {
        max-width: 100%;
      }
    }

    &--hide-on_small {
      @include respondToAll((xs, sm)) {
        display: none;
      }
    }
  }

  &__button-actions {
    display: flex;
    justify-content: flex-end;
  }

  &__team-creator {
    margin: 5px 0;
  }

  &__sprite-list {
    grid-template-columns: repeat(auto-fit, 46px);
    grid-auto-rows: 1fr;
    justify-content: flex-start;
    grid-column-gap: 2px;

    @include respondTo(sm) {
      justify-content: space-evenly;
    }
    @include respondTo(xs) {
      justify-content: space-evenly;
    }
  }
}
