// Generic Colours
$black: #000;

$white: #fff;

// App Specific
$lusamine--dress: #fff;
$lusamine--dress-highlight: #e3d974;
$lusamine--eyes: #76a165;
$lusamine--hair: #f9f6c4;

$types: (
  'fighting': #d67873,
  'fire': #f5ac78,
  'flying': #c6b7f5,
  'grass': #a7db8d,
  'normal': #c6c6a7,
  'water': #9db7f5,
  'bug': #c6d16e,
  'electric': #fae078,
  'ghost': #a292bc,
  'ground': #ebd69d,
  'poison': #c183c1,
  'rock': #d1c17d,
  'dark': #a29288,
  'dragon': #a27dfa,
  'fairy': #f4bdc9,
  'ice': #bce6e6,
  'psychic': #fa92b2,
  'steel': #d1d1e0
);
