@import './_variables';
@import '~meiko/styles/_mixins';

@mixin typed-colour-modifiers {
  @each $name, $value in $types {
    &--#{$name}_position-first {
      background: $value;
    }

    &--#{$name}_position-first,
    &--#{$name}_position-second {
      border-color: darken($value, $type--darken-percentage-border);
      &:focus,
      &:hover {
        border-color: darken($value, $type--darken-percentage-border-hover);
        outline: none;
      }
    }
  }
}
