@import './_variables';

// This will probably be refactored later
// as this will duplicate the css! (that's bad)
@mixin typed-colour-modifiers {
  @each $name, $value in $types {
    &--#{$name}_position-first {
      background: $value;
      border-color: darken($value, $type--darken-percentage-border);
      &:focus,
      &:hover {
        border-color: darken($value, $type--darken-percentage-border-hover);
        outline: none;
      }
    }
  }
  @each $name, $value in $types {
    &--#{$name}_position-second {
      border-color: darken($value, $type--darken-percentage-border);
      &:focus,
      &:hover {
        border-color: darken($value, $type--darken-percentage-border-hover);
        outline: none;
      }
    }
  }
}

@mixin respond-to($media) {
  @if $media == xs {
    @media (max-width: $screen-xs-max) {
      @content;
    }
  } @else if $media == sm {
    @media (min-width: $screen-sm) and (max-width: $screen-sm-max) {
      @content;
    }
  } @else if $media == md {
    @media (min-width: $screen-md) and (max-width: $screen-md-max) {
      @content;
    }
  } @else if $media == lg {
    @media (min-width: $screen-lg) {
      @content;
    }
  }
}
