@import '../../node_modules/meiko/dist/templates/_header-links-template';
@import './_variables.scss';

$theme-maps: (
  default:
    (
      base-background: $lusamine--hair,
      base-colour: $black,
      header-background: $lusamine--hair,
      header-colour: $black,
      button--background: $lusamine--hair,
      button--colour-hover: $lusamine--eyes,
      button--background-hover: $lusamine--dress-highlight,
      button--action-border-colour: $lusamine--dress-highlight,
      team-breakdown-item--border-colour: $lusamine--eyes,
      button-link--colour: $lusamine--eyes
    )
);
@each $theme-name, $values in $theme-maps {
  $base-background: map-get($values, base-background);
  $base-colour: map-get($values, base-colour);
  $header-background: map-get($values, header-background);
  $header-colour: map-get($values, header-colour);
  $button-link--colour: map-get($values, button-link--colour);
  .app--theme_#{$theme-name} {
    &.app,
    .lusamine-alert {
      background-color: $base-background;
      color: $base-colour;
    }
    .team-breakdown__item,
    .saved-team {
      border-color: map-get($values, team-breakdown-item--border-colour);
    }
    .breakdown-item-title__text {
      background-color: $base-background;
    }
    .header-bar {
      background-color: $header-background;
      color: $header-colour;
      @include applicationHeaderLinks;
    }
    .lusamine-button {
      background-color: map-get($values, button--background);
      &:hover {
        background-color: darken(
          map-get($values, button--background-hover),
          $button--darken-percentage
        );
        color: map-get($values, button--colour-hover);
      }
    }

    .lusamine-button-link {
      color: $button-link--colour;
      &:hover {
        color: darken($button-link--colour, $button--darken-percentage);
      }
    }
    .lusamine-button--action {
      border: 1px solid map-get($values, button--action-border-colour);
    }
    .lusamine-multiselect-list {
      background-color: $base-background;
    }
  }
}
