@import './_variables.scss';

$theme-maps: (
  default:
    (
      base-background: $lusamine--hair,
      base-colour: $black,
      header-background: $lusamine--hair,
      header-colour: $black
    )
);
@each $theme-name, $values in $theme-maps {
  $base-background: map-get($values, base-background);
  $base-colour: map-get($values, base-colour);
  $header-background: map-get($values, header-background);
  $header-colour: map-get($values, header-colour);
  .app--theme_#{$theme-name} {
    &.app {
      background-color: $base-background;
      color: $base-colour;
    }
    .header-bar {
      background-color: $header-background;
      color: $header-colour;
    }
  }
}
