@import './_colours';
@import './_pokmon-map';

$app--font-size: 16px;

$art-card--row-offset: -96px;
$art-card--column-offset: -96px;
$art-card--height: abs($art-card--row-offset);
$art-card--width: abs($art-card--column-offset);

$header--box-shadow-colour: $lusamine--eyes;
$header--height: 50px;

$sprite--size: 40px;
$sprites--row-offset: -30px;
$sprites--column-offset: -40px;
$sprites--height: abs($sprites--row-offset);
$sprites--width: abs($sprites--column-offset);
$sprite-pokemon--margin-top: 5px;
$sprite-pokemon--margin-top-reduced: $sprite-pokemon--margin-top - 2px;
$type--darken-percentage-border: 36%;
$type--darken-percentage-border-hover: 18%;
$types--column-offset: -50px;
$types--row-offset: -18px;
