@import './_colours';

$app--font-size: 16px;

$header--box-shadow-colour: $lusamine--eyes;
$header--height: 50px;

$pokemon-names: (
  bulbasaur,
  ivysaur,
  venusaur,
  mega-venusaur,
  charmander,
  charmeleon,
  charizard,
  mega-charizard-x,
  mega-charizard-y,
  squirtle,
  wartortle,
  blastoise,
  mega-blastoise,
  catepie,
  metapod,
  butterfree,
  weedle,
  kakuna,
  beedrill,
  mega-beedrill,
  pidgey,
  pidgeotto,
  pidgeot,
  mega-pidgeot,
  rattata,
  alolan-rattata,
  ratticate,
  alolan-ratticate,
  spearow,
  fearow,
  ekans,
  arbok,
  pikachu,
  raichu,
  alolan-raichu,
  sandshrew,
  alolan-sandshrew,
  sandslash,
  alolan-sandslash,
  nidoran,
  nidorina,
  nidoqueen,
  nidoran,
  nidorino,
  nidoking,
  clefairy,
  clefable,
  vulpix,
  alolan-vulpix,
  ninetales,
  alolan-ninetales
);

$sprite--size: 40px;
$sprites--row-offset: -30px;
$sprites--column-offset: -40px;
$sprites--height: abs($sprites--row-offset);
$sprite-pokemon--margin-top: 5px;
$sprite-pokemon--margin-top-reduced: $sprite-pokemon--margin-top - 2px;
$type--darken-percentage-border: 36%;
$type--darken-percentage-border-hover: 18%;
$types--column-offset: -50px;
$types--row-offset: -18px;
