@import './_colours';
@import './pokemon-names/_index.scss';

// Screen Variables

$screen-xs: 480px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;

// Prevent overlapping
$screen-xs-max: ($screen-sm - 1);
$screen-sm-max: ($screen-md - 1);
$screen-md-max: ($screen-lg - 1);

// Shared Colours
$highlighted: $lusamine--eyes;

// App Variables

$app--font-size: 16px;

$art-card--size: 100px;
$art-card--row-offset: -96px;
$art-card--column-offset: -96px;
$art-card--height: abs($art-card--row-offset);
$art-card--width: abs($art-card--column-offset);

$button--darken-percentage: 10%;

$empty: (empty);

$header--box-shadow-colour: $highlighted;
$header--height: 50px;

$sprite--size: 40px;
$sprites--row-offset: -30px;
$sprites--column-offset: -30px;
$sprites--height: abs($sprites--row-offset);
$sprites--width: abs($sprites--column-offset);
$sprite-pokemon--margin-top: 5px;
$sprite-pokemon--margin-top-reduced: $sprite-pokemon--margin-top - 2px;

$team-member--border-colour: $highlighted;

$type--width: 50px;
$type--height: 18px;
$type--darken-percentage-border: 36%;
$type--darken-percentage-border-hover: 18%;
$types--column-offset: -50px;
$types--row-offset: -18px;
