@import './_variables';
@import './_themes';

@font-face {
  font-family: 'Roboto Mono';
  font-display: fallback;
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Mono'), local('RobotoMono-Regular'),
    url('./roboto-mono.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

body {
  font-size: $app--font-size;
}

main {
  min-height: calc(100vh - 5px - #{$header--height});
  padding: 5px {
    top: $header--height;
  }
}

.flex-spacer {
  flex: 1 1 0%;
}
.padding-5 {
  padding: 5px;
}
.margin-one {
  margin: 1px;
}
.list-item-bottom-spacing {
  margin-bottom: 4px;
}
.settings__input {
  white-space: pre-line;
}
