@import '../../styles/_mixins.scss';

.team-breakdown {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  &__content {
    display: flex;
    width: 100%;

    &--collapsed {
      display: none;
    }
  }
  &__list,
  &__item {
    max-width: calc(100% - 10px);
  }
  &__item {
    border: 1px solid transparent;
    margin: 0.5em 0;
  }
}

.team-breakdown__action {
  &--hide {
    visibility: hidden;
    pointer-events: none;
  }
}

.breakdown-item-title {
  display: flex;
  flex: 1;
  margin-top: -10px;

  &__text {
    background-color: transparent;
    padding: 0 5px;
  }
}

.stat-breakdown-list {
  flex-direction: column;

  @include respond-to(lg) {
    flex-direction: row;

    &__item {
      margin: 0.5em 0.1em;
    }
  }
}

.type-breakdown-list,
.type-breakdown-list__item {
  width: 100%;
}
