$clear-button--size: 25px;

.lusamine-button.clear-button {
  height: $clear-button--size;
  width: $clear-button--size;
  padding: 0.5em;
  border-radius: 50%;
  margin: 0;

  &:before {
    font-size: 0.5em;
    font-weight: bold;
    transform: translateY(-15%) translateX(-5%);
  }
}
