@import '../../styles/_variables';
@import '../../styles/_extendables';

.sprite {
  width: $sprite--size;
  height: $sprite--size;
  border: 2px solid;
  border-radius: 50%;

  @extend %typed-colour-modifiers;
}

.sprite__pokemon {
  height: $sprites--height;
  background-image: url(../../assets/sprites.png);
  margin: $sprite-pokemon--margin-top 0;
  cursor: pointer;

  &:hover {
    animation: bounce 0.25s infinite;
  }
}

@keyframes bounce {
  0%,
  100% {
    margin-top: $sprite-pokemon--margin-top;
  }
  50% {
    margin-top: $sprite-pokemon--margin-top-reduced;
  }
}

@for $n from 1 through length($pokemon-names) {
  $i: $n - 1;
  $row: floor($i/16);
  $col: $i - (16 * $row);
  $name: nth($pokemon-names, $n);

  .sprite__pokemon--#{$name} {
    background-position: #{$col *
      $sprites--column-offset}
      #{$row *
      $sprites--row-offset};
  }
}
