@import '../../styles/_variables';
@import '../../styles/_mixins';
@import '../../styles/_extensions';

.sprite {
  @extend %image-container-border;
  display: flex;
  justify-content: center;
  width: $sprite--size;
  height: $sprite--size;

  @include typed-colour-modifiers;
}

.sprite__pokemon {
  @extend %image-element;
  height: $sprite--size;
  width: $sprite--size;
  background-image: url(../../assets/sprites.png);
  background-image: url(../../assets/sprites.webp);
  margin: $sprite-pokemon--margin-top 0;

  &--can-click {
    cursor: pointer;
  }

  &:focus,
  &:hover {
    animation: bounce 0.25s infinite;
  }
}

@keyframes bounce {
  0%,
  100% {
    margin-top: $sprite-pokemon--margin-top;
  }
  50% {
    margin-top: $sprite-pokemon--margin-top-reduced;
  }
}
