@import '../../styles/_variables';
@import '../../styles/_mixins';

.sprite {
  width: $sprite--size;
  height: $sprite--size;
  border: 2px solid;
  border-radius: 50%;

  @include typed-colour-modifiers;
}

.sprite__pokemon {
  height: $sprites--height;
  width: $sprites--width;
  background-color: transparent;
  background-image: url(../../assets/sprites.png);
  margin: $sprite-pokemon--margin-top 0;
  appearance: none;
  border: none;
  cursor: default;

  &:focus,
  &:hover {
    animation: bounce 0.25s infinite;
  }
  &--can-click {
    cursor: pointer;
  }
}

@keyframes bounce {
  0%,
  100% {
    margin-top: $sprite-pokemon--margin-top;
  }
  50% {
    margin-top: $sprite-pokemon--margin-top-reduced;
  }
}

@for $n from 1 through length($pokemon-names) {
  $i: $n - 1;
  $row: floor($i/16);
  $col: $i - (16 * $row);
  $name: nth($pokemon-names, $n);

  .sprite__pokemon--#{$name} {
    background-position: #{$col *
      $sprites--column-offset}
      #{$row *
      $sprites--row-offset};
  }
}
