.team-viewer {
  width: 100%;
  padding: 10px;

  &__team {
    display: flex;
    flex-direction: column;
    padding: 5px;
    border: 1px solid transparent;
  }
}

.saved-team__actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
