.team-viewer {
  width: 100%;
  margin: 5px 0;

  &__navigation {
    display: flex;
    justify-content: flex-end;
  }

  &__team {
    display: flex;
    padding: 5px;
    border: 1px solid transparent;
    margin: 5px 0;
  }

  &__controls {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
}

.saved-team {
  &__inner {
    display: flex;
    flex: 1;
    flex-direction: column;
  }

  &__actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__action {
  }
}
