@import '../../styles/_mixins';

.filters {
  display: flex;
  flex-flow: wrap;
  padding: 5px;

  &--hide-on_small {
    @include respond-to(sm) {
      display: none;
    }
    @include respond-to(xs) {
      display: none;
    }

    .filters__input {
      flex-basis: 100%;
    }
  }
  &--hide-on_large {
    @include respond-to(lg) {
      display: none;
    }
    @include respond-to(md) {
      display: none;
    }

    .filters__input {
      flex-basis: 50%;
    }
  }
}
