@import '../../styles/_mixins';

.filters {
  padding: 5px;

  &--hide-on_small {
    @include respond-to(sm) {
      display: none;
    }
    @include respond-to(xs) {
      display: none;
    }
  }
  &--hide-on_large {
    @include respond-to(lg) {
      display: none;
    }
    @include respond-to(md) {
      display: none;
    }
  }
}
