@import '../../styles/_mixins';
@import '../../styles/_variables';

$indicator-size: 10px;
$breakdown-panel--item-width: $type--width + $indicator-size;

.breakdown-panel {
  grid-auto-rows: 1fr;
  grid-template-columns: repeat(auto-fit, $breakdown-panel--item-width);
  justify-content: space-evenly;

  &__item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: $breakdown-panel--item-width;
  }
  &__count {
    text-align: center;
  }
}

@mixin after-indicator {
  &:after {
    content: ' ';
    position: absolute;
    top: 50%;
    right: 10px;
    width: $indicator-size;
    height: $indicator-size;
    border-radius: 50%;
    transform: translateY(50%);
    @content;
  }
}

@each $panel, $values in $breakdown-indicator-colours {
  .breakdown-panel--good-is_#{$panel} {
    @each $name, $colour in $values {
      .breakdown-panel__item {
        &--#{$name} {
          @include after-indicator {
            background-color: $colour;
          }
        }
      }
    }
  }
}
