@import '../../styles/_variables';
@import '../../styles/_mixins';
@import '../../styles/_extensions';

.art-card {
  @extend %image-container-border;
  width: $art-card--size;
  height: $art-card--size;

  @include typed-colour-modifiers;
}

.art-card__pokemon {
  @extend %image-element;
  height: $art-card--size;
  width: $art-card--size;
  background-image: url(../../assets/art.png);
  background-image: url(../../assets/art.webp);
}
