@import '../../styles/_variables';
@import '../../styles/_mixins';

.art-card {
  width: $art-card--size;
  height: $art-card--size;
  border: 2px solid;
  border-radius: 50%;

  @include typed-colour-modifiers;
}

.art-card__pokemon {
  height: $art-card--height;
  width: $art-card--width;
  background-color: transparent;
  background-image: url(../../assets/art.png);
  border: none;
  cursor: default;
}

$art-card-pokemon: join($empty, $art-names, 'comma');
@for $n from 1 through length($art-card-pokemon) {
  $i: $n - 1;
  $row: floor($i/30);
  $col: $i - (30 * $row);
  $name: nth($art-card-pokemon, $n);
  .art-card__pokemon--#{$name} {
    background-position: #{$col *
      $art-card--column-offset}
      #{$row *
      $art-card--row-offset};
  }
}
